.primaryBar{
  background-color: darkblue;
}

.page {
  padding: 10rem;
}

h1 {
  font-family: "Open Sans";
}

.profilePic {
  border-radius: 40px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

#discoverBackground {
  background-color: rgb(80, 80, 143);
}

#outerCard {
  border-width: 10px;
  border-radius: 25px;
  border-color: rgb(80, 80, 143);
}
