@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body, html {
  font-family: 'Open Sans', sans-serif;
}

.primaryBar{
  background-color: darkblue;
}

.page {
  padding: 10rem;
}

h1 {
  font-family: "Open Sans";
}

#discoverBackground {
  background-color: rgb(80, 80, 143);
}

#outerCard {
  border-width: 10px;
  border-radius: 25px;
  border-color: rgb(80, 80, 143);
}

#navElement {
  font-size: 3rem;
}
