.font-link {
  font-family: 'Open Sans';
}

.primaryBar{
  background-color: rgb(48, 48, 215);
}

.page {
  padding: 10rem;
}

h1 {
  font-family: "Open Sans";
}

#discoverBackground {
  background-color: rgb(186, 186, 241);
}

#outerCard {
  border-width: 10px;
  border-radius: 25px;
  border-color: rgb(186, 186, 241);
}

#navElement {
  font-size: 2rem;
}

.img {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
